/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./index.html",
    "./src/**/*.{js,ts,jsx,tsx}",
  ],
  theme: {
    extend: {
      colors: {
        // ALKEME Brand Colors
        alkeme: {
          yellow: '#FFBF3C',
          black: '#000000',
          blue: '#5387AC',
          'light-blue': '#91CBEF',
          gray: '#5F6060',
          'light-gray': '#F0F3F5',
        },
        // Primary uses ALKEME yellow
        primary: {
          DEFAULT: '#FFBF3C',
          50: '#fffbf0',
          100: '#fff5d6',
          200: '#ffeaad',
          300: '#ffde84',
          400: '#ffd15b',
          500: '#FFBF3C',
          600: '#ffa91e',
          700: '#e69000',
          800: '#b37000',
          900: '#805000',
          950: '#4d3000',
        },
      },
      fontFamily: {
        sans: ['Poppins', 'Inter', 'system-ui', 'sans-serif'],
      },
    },
  },
  plugins: [],
}

