using './main.bicep'

param projectName = '{{ package_name }}'
param environmentName = 'dev'
param location = 'eastus'
param containerImage = '{{ package_name }}.azurecr.io/{{ package_name}}:latest'
param azureClientId = 'your-azure-ad-client-id-here'
param azureTenantId = 'your-azure-ad-tenant-id-here'
param apiBaseUrl = 'https://api.yourdomain.com'
param azureApiScope = 'api://your-app-id/access_as_user'
param devNoAuth = false
param containerCpu = '0.5'
param containerMemory = '1Gi'
param minReplicas = 1
param maxReplicas = 3
param containerPort = 80
param enableFrontDoor = false
param frontDoorSku = 'Standard_AzureFrontDoor'
param customDomainName = ''
param enableWaf = true

